header{
    text-align: center;
}
#perfil{
    display: block;
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    float: right;
    margin: 30px 60px 0 0;
}
section{
    margin: 50px 0;
    border-top: 3px solid black;
}
#sobre_mim{
    display: block;
}
main{
    width: 800px;
    margin: auto;
}
h2{
    margin-left: 80px;
}